.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  display: block;
  width: 5vw;
}

#add{
  display:inline;
}

input{
  width:5vw;
}

.container{
  width: 20vw;
  height: 20vh;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: coral;
}